<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LatinInstruments</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="/css/styleHome.css" />
	</head>
	<body>
		<header class="header">
			<nav>
				<div class="navegacion">
					<div class="logo">
						<a href="#"> LATIN INSTRUMENTS SA </a>
					</div>
					<input type="radio" name="slider" id="menu-btn" />
					<input type="radio" name="slider" id="btn--cerrar" />
					<label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
					<ul class="navegacion__links">
						<label for="btn--cerrar" class="btn btn--cerrar"><i class="fas fa-times"></i></label>
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Nosotros</a></li>
						<li>
							<a href="#" class="desktop-item">Últimos vinilos</a>
							<input type="checkbox" id="desplegable" />
							<label for="desplegable" class="movil">Últimos vinilos</label>
							<ul class="desplegable">
								<li><a href="#">Circles - Mac Miller</a></li>
								<li><a href="#">Evermore - Taylor Swift</a></li>
								<li><a href="#">Shelter - Alcest</a></li>
								<li><a href="#">Hungry Ghost - Violent Soho</a></li>
							</ul>
						</li>
						<li>
							<a href="#" class="desktop-item">Categorías</a>
							<input type="checkbox" id="mostrarCategorias" />
							<label for="mostrarCategorias" class="movil">Categorías</label>
							<div class="categorias">
								<div class="categorias__contenido">
									<div class="categoria">
										<img src="https://images.unsplash.com/photo-1510915361894-db8b60106cb1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG11c2ljfGVufDB8fDB8fHww" alt="" />
									</div>
									<div class="categoria">
										<header>Instrumentos</header>
										<ul class="subcategorias">
											<li><a href="#">Cuerdas</a></li>
											<li><a href="#">Viento</a></li>
											<li><a href="#">Percusiones</a></li>
											<li><a href="#">Ver todo</a></li>
										</ul>
									</div>
									<div class="categoria">
										<header>Accesorios</header>
										<ul class="subcategorias">
											<li><a href="#">Individuales</a></li>
											<li><a href="#">Amplificadores</a></li>
											<li><a href="#">Cables</a></li>
											<li><a href="#">Ver todo</a></li>
										</ul>
									</div>
									<div class="categoria">
										<header>Vinilos</header>
										<ul class="subcategorias">
											<li><a href="#">Rock</a></li>
											<li><a href="#">Pop</a></li>
											<li><a href="#">Rap / Hip hop</a></li>
											<li><a href="#">Ver todo</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li><a href="#">Carrito</a></li>
						<li><a href="#">Iniciar sesión</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<main>
			<section class="promos">
				<header>
					<ul>
						<span class="contador"></span>
					</ul>
				</header>
				<div class="contenedor">
					<div class="promo__uno">
						<div class="promo">
							<img src="/img/home/guitar-ltd.png" width="300" />
							<p>Guitar LTD M-300 FM</p>
							<p>No. Serie 7123HG2</p>
							<p>Precio $13999.99</p>
							<button>Agregar al carrito</button>
						</div>
						<div class="producto_overlay">
							<h2>Aregado al carrito</h2>
							<i class="fa fa-check"></i>
						</div>
					</div>
					<div class="promo__dos">
						<div class="promo">
							<img src="/img/home/saxophone.png" width="300" />
							<p>Saxofón</p>
							<p>No. Serie 10ASD123</p>
							<p>Precio $6499.99</p>
							<button>Agregar al carrito</button>
						</div>
						<div class="producto_overlay">
							<h2>Aregado al carrito</h2>
							<i class="fa fa-check"></i>
						</div>
					</div>
					<div class="promo__tres">
						<div class="promo">
							<img src="/img/home/igor.png" width="300" />
							<p>Tyler The Creator</p>
							<p>IGOR</p>
							<p>Precio $999.99</p>
							<button>Agregar al carrito</button>
						</div>
						<div class="producto_overlay">
							<h2>Aregado al carrito</h2>
							<i class="fa fa-check"></i>
						</div>
					</div>
					<div class="promo__cuatro">
						<div class="promo">
							<img src="/img/home/hi-hat-zildjian.png" width="300" />
							<p>Hi-Hat/p></p>
							<p>Zildjian</p>
							<p>Precio $299.99</p>
							<button>Agregar al carrito</button>
						</div>
						<div class="producto_overlay">
							<h2>Aregado al carrito</h2>
							<i class="fa fa-check"></i>
						</div>
					</div>
					<div class="promo__cinco">
						<div class="promo">
							<img src="/img/home/wish-you-were-here.png" width="300" />
							<p>Pink Floyd</p>
							<p>Wish You Were Here</p>
							<p>Precio $1199.99</p>
							<button>Agregar al carrito</button>
						</div>
						<div class="producto_overlay">
							<h2>Aregado al carrito</h2>
							<i class="fa fa-check"></i>
						</div>
					</div>
				</div>
			</section>
		</main>
		<script src="/js/script.js"></script>
	</body>
</html>
