<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LatinInstruments</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="public/css/styleHome.css" />
	</head>
	<body>
		<header class="header">
			<a href="#">
				<img class="logo" alt="Omnifood logo" src="public/img/logo-white-transparent.png" />
			</a>
			<nav class="navegacion">
				<ul class="lista__navegacion">
					<li><a class="item__navegacion" href="#inst">Instrumentos</a></li>
					<li><a class="item__navegacion" href="#accs">Accesorios</a></li>
					<li><a class="item__navegacion" href="#vinil">Vinilos</a></li>
					<li><a class="item__navegacion" href="#carrito">Carrito</a></li>
					<li><a class="item__navegacion cuenta__navegacion" href="#registro">Registrate</a></li>
				</ul>
			</nav>

			<button class="btn-mobile-nav">
				<i class="fa-solid fa-bars"></i>
				<i class="fa-solid fa-x"></i>
			</button>
		</header>
	</body>
</html>
