<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styleLogIn.css">
    <title>Log In</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="/">LATININSTRUMENTS SA</a>
            </div>
        </nav>
    </header>
        <div class="container-form">
            <div class="titulo">
                <h1>Inicio de Sesión</h1>
            </div>
            <div class="container-form">
                <form method="POST" class="form">
                    <div class="form-section">
                        <label >
                            <input type="text" class="form-input" placeholder="Nombre de usuario" required>
                        </label>
                    </div>
                <div class="form-section">
                        <label>
                            <input type="password" class="form-input" placeholder="Contraseña" required>
                        </label>
                    </div>
                    <div class="form-section"> <a href="#"><p>¿Olvidó su contraseña?</a></p>
                    </div>
                    <div class="form-section">
                        <input type="submit" class="form-input-button"  value="iniciar">
                    </div>
                    <div class="form-section">
                        <p>¡Quiero <a href="registro">registrarme!</a></p>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>