<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleRegister.css">

</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="/"><h1>LATININSTRUMENTS SA</h1></a>
            </div>
        </nav>
    </header>
        <div class="container-form">
            <form action="/registro" metthod="POST" class="form">
                <label for="nombre"></label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre">

                <label for="email"></label>
                <input type="text" id="email" name="email" placeholder="E-mail">

                <label for="contrasenia"></label>
                <input type="text" id="constrasenia" name="constrasenia" placeholder="Cree su contraseña">
                
                <label for="repite-contrasenia"></label>
                <input type="text" id="repite-constrasenia" name="repite-constrasenia" placeholder="Repita su contraseña">
                <label for="registrate"></label>
                    <input type="submit" value="Registrate" name="registrate" id="registrate" class="input-button">
                
            </form>
        </div>

</body>
</html>