<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<form action="/registro" metthod="POST">
    <label for="nombre"> Nombre: </label>
    <input type="text" id="nombre" name="nombre">
    <br>
    <label for="email"> Email: </label>
    <input type="text" id="email" name="email">
    <br>
    <label for="contrasenia"> Constraseña: </label>
    <input type="text" id="constrasenia" name="constrasenia">
    <br>
    <label for="repite-contrasenia"> Constraseña: </label>
    <input type="text" id="repite-constrasenia" name="repite-constrasenia">
</form>
<button> Registrarse </button>
</body>
</html>