*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuentePrincipal), sans-serif;
}
:root {
	--naranjaOscuro: #cb997e;
	--naranja: #ddbea9;
	--naranjaClaro: #ffe8c6;
	--verdeClaro: #b7b7a4;
	--verde: #a5a58d;
	--verdeOscuro: #6b705c;
	--blanco: #ffffff;
	--negro: #000;
	--gris: #666;
	--fuentePrincipal: "Open Sans", sans-serif;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	background-color: var(--naranjaClaro);
}
header{
    background-color: var(--verdeClaro);
    height: 5rem;
    width: 100vw;
}
h1{
    color: #252a2b;
    padding: 10px;;
}
.logo a {
	color: var(--blanco);
    font-size: 2.2rem;
	font-weight: bolder;
	text-decoration: none;
}
a{
    text-decoration: none;
    color: #252a2b;
}
p{
    font-size: 1.3rem;
}
.container-form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    margin: 10px;
}
.titulo{
    display: flex;
    text-align: center;
    /* border: 2px solid  red; */
}
.form{
    /* border: 2px solid  red; */
    padding: 30px;
    flex: 1;
    text-align: center;
}
.form-section{
    width: 100%;
}
.form-input{
padding: 7px;
margin: 9px 0px;
background-color: var(--naranjaClaro);
border: none;
border-bottom: 3px solid var(--verdeOscuro);
color: var(--verdeOscuro);
}
.form-input:focus{
    background-color: var(--naranja);
}
.form input[type="submit"]{
    background-color: var(--verde);
    transition: 450ms;
}
.form input[type="submit"]:hover{
    background-color: var(--verdeClaro);
}

@media(min-width: 430px){
    .titulo{
    width: 45vw;
    height: 60vh;
    align-items: center;
    }
    .container-form{
        flex-wrap: nowrap;
    align-items: center;
    }
}