:root {
	--naranjaOscuro: #cb997e;
	--naranja: #ddbea9;
	--naranjaClaro: #ffe8d6;
	--verdeClaro: #b7b7a4;
	--verde: #a5a58d;
	--verdeOscuro: #6b705c;
	--blanco: #ffffff;
	--negro: #000;
	--gris: #666;
	--fuentePrincipal: "Open Sans", sans-serif;
}

* {
	font-family: var(--fuentePrincipal), sans-serif;
}
.body-edit {
	margin: 0;
	background-color: var(--naranjaClaro);
	height: 100vh;
}

.main-edit{
    padding-top: 15vh;
	height: 90vh;
	width: 100%;
}
.titulo-editando{
	margin: 10px;
	font-size: 40px;
	color: var(--verdeOscuro);
}
.seguir {
	color: var(--blanco);
	background-color: var(--verdeOscuro);
	font-weight: bold;
	width: 180px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid var(--verdeOscuro);
	box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.seguir-label{
	text-decoration: none;
	color: var(--verdeClaro);
}
.seguir:hover {
    transform: translateY(2px); /* Desplazar hacia abajo */
    background-color: var(--verdeclaro); /* Cambiar a un color más claro */
    border-color: var(--naranjaOscuro); /* Cambiar el color del borde */
}

/* FORMULARIO */


.container-form{
	display: flex;
	justify-content: center;
	margin: 5px;
	height: 100vh;
}

.product-edit{
text-align: center;
background-color: var(--naranjaClaro);
box-shadow: 0 0 5px black;
height: 78vh;
}
.container-input{
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 5px;
	padding: 5px;
}
.label-categoria{
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 200px;
}
.select-categoria{
	text-align: center;
	margin: 10px;
}

/* INPUTS */
input{
	text-align: center;
	margin: 2px;
	padding: 5px;
	background-color: var(--verdeClaro);
	border-radius: 8px;
	color: var(--negro);
	font-weight: 700;
	border: 1px solid var(--verdeOscuro);
}

.label-form-descripcion{
	width: 80%;
}

.in-precio{
	margin: 5px;
	font-size: 20px;
	width: 150px;
	height: 30px;
}
.in-descripcion{
	text-align: left; 
	border: 1px solid var(--verdeOscuro);
	background-color: var(--verdeClaro);
	border-radius: 8px;
}

@media (max-width: 767px) {
	.product-edit{	     
		min-width: 80vw;		
		}
	.container-input{
		margin: 5px;	
	}
	.product-edit{	     
		width: 50vw;		
		}
	.container-input-descripcion{
		height: 20%;
		}
	/* .label-form-descripcion{
		width: 90%;
		height: 50%;
		} */
		.in-descripcion{
		width: 80%;
		height: 80%;
		}
		.form-input-img{
			width: 200px;
		}
	
}
@media (min-width: 768px) {
	.product-edit{	     
		width: 50vw;
		height: 80vh;		
		}
	.container-input-descripcion{
		height: 30%;
		}
	.label-form-descripcion{
		width: 90%;
		height: 100%;
		}
		.in-descripcion{
		width: 80%;
		height: 80%;
		}
}
@media (max-height: 750px) {
	/* .label-form-descripcion{
		width: 90%;
		height: 80%;
	} */
	.in-descripcion{
		width: 80%;
		height: 100%;
		}
	.container-input-descripcion{
		height: 10%;
	}
	.container-form{
		height: 80vh;
	}
	.product-edit{
		height: 80vh;
	}
		
}