<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LatinInstruments</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="/css/styleCarrito.css" />
	
	</head>
	<body class="body-carrito">
        
		<header>
			
		</header>
		<main class="main-carrito">
			<section class="main-seccion-carrito">
               <div class="titulo">
                     <h1>Carrito</h1>
			   </div>
               <div class="productos">
                        <h3>Mi carrito</h3>
						<article class="columnas">
							<label class="label-columna">Producto</label>
							<label class="label-columna">Cantidad</label>
							<label class="label-columna">Total</label>
						</article>
						<article class="item-compra">
							        <div class="item-imagen">
									<img src="img/home/guitar-ltd.png" alt="NO IMAGE">
									</div>
									<div class="descripcion">
										<ul>
											<li class="desc-list">Nombre del producto</li>
											<li class="desc-list">Categoria producto</li>
											<li class="desc-list">Precio unitario del producto</li>
										</ul>
									</div>
									<div class="cantidad">                                    
										<div class="agregar-quitar">
											<i class="fa-regular fa-square-minus"></i>
											<input type="text">
											<i class="fa-regular fa-square-plus"></i>
											<i class="fa-regular fa-trash-can"></i>
										</div>                               
									</div>
									<div class="precio-parcial">
										<label>Precio Parcial</label>
									</div>
						</article>
						<article class="item-compra">
							<div class="item-imagen">
							<img src="img/home/hi-hat-zildjian.png" alt="NO IMAGE">
							</div>
							<div class="descripcion">
								<ul>
									<li class="desc-list">Nombre del producto</li>
									<li class="desc-list">Categoria producto</li>
									<li class="desc-list">Precio unitario del producto</li>
								</ul>
							</div>
							<div class="cantidad">                                    
								<div class="agregar-quitar">
									<i class="fa-regular fa-square-minus"></i>
									<input type="text">
									<i class="fa-regular fa-square-plus"></i>
									<i class="fa-regular fa-trash-can"></i>
								</div>                               
							</div>
							<div class="precio-parcial">
								<label>Precio Parcial</label>
							</div>
				        </article>
						<article class="item-compra">
							<div class="item-imagen">
							<img src="img/home/igor.png" alt="NO IMAGE">
							</div>
							<div class="descripcion">
								<ul>
									<li class="desc-list">Nombre del producto</li>
									<li class="desc-list">Categoria producto</li>
									<li class="desc-list">Precio unitario del producto</li>
								</ul>
							</div>
							<div class="cantidad">                                    
								<div class="agregar-quitar">
									<i class="fa-regular fa-square-minus"></i>
									<input type="text">
									<i class="fa-regular fa-square-plus"></i>
									<i class="fa-regular fa-trash-can"></i>
								</div>                               
							</div>
							<div class="precio-parcial">
								<label>Precio Parcial</label>
							</div>
				        </article>
						<div class="resumen-orden">
							<div class="subtotal">
											   <label for="">Sub total:</label>
											  <label for="">Valor</label>							                                
							</div>
							<div class="costo-envio">
											 <label for="">Costo de envío:</label>
											 <label for="">Valor 2</label>					                                
							</div>
							<div class="total-pagar">
											 <label for="">Total a pagar:</label>
											 <label for="">Valor total</label>		                                 
							</div>
							<div class="btns-resumen">							
								<div class="btn-fin">
									<label for="">
										<a href="/">Finalizar compra</a>
									</label>									
								</div>
								<div class="btn-continuar">
									<label for="">
										<a href="/">Continuar comprando</a>
									</label>												
								</div>
							</div>
					    </div>
			        </div>
            </section>                 
		</main>
        <footer>
			<div class="contenedor__footer">
				<div class="row">
					<div class="footer-col">
						<h4>empresa</h4>
						<ul>
							<li><a href="#">nosotros</a></li>
							<li><a href="#">servicios</a></li>
							<li><a href="#">política de privacidad </a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>ayuda</h4>
						<ul>
							<li><a href="#">preguntas frecuentes</a></li>
							<li><a href="#">envios</a></li>
							<li><a href="#">devoluciones</a></li>
							<li><a href="#">estatus de la orden</a></li>
							<li><a href="#">opciones de pago</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>tienda en línea</h4>
						<ul>
							<li><a href="#">guitarras</a></li>
							<li><a href="#">baterías</a></li>
							<li><a href="#">vinilos</a></li>
							<li><a href="#">amplificadores</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<h4>Recursos</h4>
						<ul>
							<li><a href="#">categorías</a></li>
							<li><a href="#">crea una cuenta</a></li>
							<li><a href="#">inicia sesión</a></li>
							<li><a href="#">415-301-6370</a></li>
							<li><a href="#">ayuda@latininstruments.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

	</body>
</html>