<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs') %>
		<link rel="stylesheet" href="/css/styleCarrito.css" />
	</head>

	<body class="body-carrito">
		<%- include ("partials/Header.ejs") %>

		<main class="main-carrito">
			<section class="main-seccion-carrito">
				<div class="titulo">
					<h1>Carrito</h1>
				</div>
				<div class="productos">
					<h3>Mi carrito</h3>
					<article class="columnas">
						<label class="label-columna">Producto</label>
						<label class="label-columna">Cantidad</label>
						<label class="label-columna">Total</label>
					</article>
					<article class="item-compra">
						<div class="item-imagen">
							<img src="img/home/guitar-ltd.png" alt="NO IMAGE" />
						</div>
						<div class="descripcion">
							<ul>
								<li class="desc-list">Nombre del producto</li>
								<li class="desc-list">Categoria producto</li>
								<li class="desc-list">Precio unitario del producto</li>
							</ul>
						</div>
						<div class="cantidad">
							<div class="agregar-quitar">
								<i class="fa-regular fa-square-minus"></i>
								<input type="text" />
								<i class="fa-regular fa-square-plus"></i>
								<i class="fa-regular fa-trash-can"></i>
							</div>
						</div>
						<div class="precio-parcial">
							<label>Precio Parcial</label>
						</div>
					</article>
					<article class="item-compra">
						<div class="item-imagen">
							<img src="img/home/hi-hat-zildjian.png" alt="NO IMAGE" />
						</div>
						<div class="descripcion">
							<ul>
								<li class="desc-list">Nombre del producto</li>
								<li class="desc-list">Categoria producto</li>
								<li class="desc-list">Precio unitario del producto</li>
							</ul>
						</div>
						<div class="cantidad">
							<div class="agregar-quitar">
								<i class="fa-regular fa-square-minus"></i>
								<input type="text" />
								<i class="fa-regular fa-square-plus"></i>
								<i class="fa-regular fa-trash-can"></i>
							</div>
						</div>
						<div class="precio-parcial">
							<label>Precio Parcial</label>
						</div>
					</article>
					<article class="item-compra">
						<div class="item-imagen">
							<img src="img/home/igor.png" alt="NO IMAGE" />
						</div>
						<div class="descripcion">
							<ul>
								<li class="desc-list">Nombre del producto</li>
								<li class="desc-list">Categoria producto</li>
								<li class="desc-list">Precio unitario del producto</li>
							</ul>
						</div>
						<div class="cantidad">
							<div class="agregar-quitar">
								<i class="fa-regular fa-square-minus"></i>
								<input type="text" />
								<i class="fa-regular fa-square-plus"></i>
								<i class="fa-regular fa-trash-can"></i>
							</div>
						</div>
						<div class="precio-parcial">
							<label>Precio Parcial</label>
						</div>
					</article>
					<div class="resumen-orden">
						<div class="subtotal">
							<label for="">Sub total:</label>
							<label for="">Valor</label>
						</div>
						<div class="costo-envio">
							<label for="">Costo de envío:</label>
							<label for="">Valor 2</label>
						</div>
						<div class="total-pagar">
							<label for="">Total a pagar:</label>
							<label for="">Valor total</label>
						</div>
						<div class="btns-resumen">
							<div class="btn-fin">
								<label for="">
									<a href="/">Finalizar compra</a>
								</label>
							</div>
							<div class="btn-continuar">
								<label for="">
									<a href="/">Continuar comprando</a>
								</label>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		<%- include("partials/Footer.ejs") %>
	</body>
</html>
