<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs') %>
	</head>
	<body>
		<%- include ("partials/Header.ejs") %>
		<main>
			<section class="promos">
				<div class="promos__contenedor">
					<h1 class="titulo">Promociones</h1>
					<ul class="promos__lista">
						<li class="promo__contenedor">
							<div class="promo">
								<div class="promo__imagen"><img src="img/home/guitar-ltd.png" /></div>
								<div class="promo__contenido">
									<h2 class="promo__titulo">Lorem, ipsum dolor.</h2>
									<p class="promo__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, esse vero.</p>
									<div class="boton">
										<a class="btn promo__btn" href="/product/detail">Ver producto</a>
									</div>
								</div>
							</div>
						</li>
						<li class="promo__contenedor">
							<div class="promo">
								<div class="promo__imagen"><img src="img/home/hi-hat-zildjian.png" /></div>
								<div class="promo__contenido">
									<h2 class="promo__titulo">Lorem, ipsum dolor.</h2>
									<p class="promo__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, esse vero.</p>
									<div class="boton">
										<a class="btn promo__btn" href="/product/create">Ver producto</a>
									</div>
								</div>
							</div>
						</li>
						<li class="promo__contenedor">
							<div class="promo">
								<div class="promo__imagen"><img src="img/home/guitar-ltd.png" /></div>
								<div class="promo__contenido">
									<h2 class="promo__titulo">Lorem, ipsum dolor.</h2>
									<p class="promo__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, esse vero.</p>
									<div class="boton">
										<a class="btn promo__btn" href="/product/detail">Ver producto</a>
									</div>
								</div>
							</div>
						</li>
						<li class="promo__contenedor">
							<div class="promo">
								<div class="promo__imagen"><img src="img/home/hi-hat-zildjian.png" /></div>
								<div class="promo__contenido">
									<h2 class="promo__titulo">Lorem, ipsum dolor.</h2>
									<p class="promo__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, esse vero.</p>
									<div class="boton">
										<a class="btn promo__btn" href="/product/detail">Ver producto</a>
									</div>
								</div>
							</div>
						</li>
						<li class="promo__contenedor">
							<div class="promo">
								<div class="promo__imagen"><img src="img/home/guitar-ltd.png" /></div>
								<div class="promo__contenido">
									<h2 class="promo__titulo">Lorem, ipsum dolor.</h2>
									<p class="promo__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, esse vero.</p>
									<div class="boton">
										<a class="btn promo__btn" href="/product/detail">Ver producto</a>
									</div>
								</div>
							</div>
						</li>
						<li class="promo__contenedor">
							<div class="promo">
								<div class="promo__imagen"><img src="img/home/hi-hat-zildjian.png" /></div>
								<div class="promo__contenido">
									<h2 class="promo__titulo">Lorem, ipsum dolor.</h2>
									<p class="promo__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, esse vero.</p>
									<div class="boton">
										<a class="btn promo__btn" href="/product/detail">Ver producto</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<section class="marcas carrusel">
				<h1 class="titulo">En nosotros confían:</h1>
				<div class="imagen-track">
					<div class="imagen">
						<img src="/img/home/fender-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/zildjian-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/gibson-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/marshall-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/pearl-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/yamaha-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/apple-music-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/musicnotes-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/fender-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/zildjian-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/gibson-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/marshall-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/pearl-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/yamaha-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/apple-music-logo.svg" height="100" width="250" alt="" />
					</div>
					<div class="imagen">
						<img src="/img/home/musicnotes-logo.svg" height="100" width="250" alt="" />
					</div>
				</div>
			</section>
			<section class="vinilos" id="meals">
				<div class="contenedor__vinilo centrado">
					<span class="subtitulo">Vinilos</span>
					<h1 class="titulo">En Latin Instruments tenemos +1500 vinilos diferentes</h1>
				</div>

				<div class="contenedor__vinilo grid grid--3-cols">
					<div class="vinilo">
						<img src="img/home/1989TV.jpg" class="vinilo-img" alt="1989 (Taylor's Version)" />
						<div class="vinilo-contenido">
							<p class="vinilo-titulo">1989 (Taylor's Version)</p>
							<ul class="vinilo-atributos">
								<li class="vinilo-atributo">
									<span><i class="vinilo-icon fa-solid fa-dollar-sign"></i><strong>650</strong> MXN</span>
								</li>
								<li class="vinilo-atributo">
									<span><i class="vinilo-icon fa-solid fa-music"></i> LatinScore &reg; <strong>74</strong></span>
								</li>
								<li class="vinilo-atributo">
									<span><i class="vinilo-icon fa-solid fa-star"></i><strong>4.9</strong> rating global (537k)</span>
								</li>
							</ul>
						</div>
					</div>

					<div class="vinilo">
						<img src="img/home/pouya.jpg" class="vinilo-img" alt="The South Got Something to Say" />
						<div class="vinilo-contenido">
							<p class="vinilo-titulo">The South Got Something to Say</p>
							<ul class="vinilo-atributos">
								<li class="vinilo-atributo">
									<span><i class="vinilo-icon fa-solid fa-dollar-sign"></i><strong>400</strong> MXN</span>
								</li>
								<li class="vinilo-atributo">
									<span><i class="vinilo-icon fa-solid fa-music"></i> LatinScore &reg; <strong>92</strong></span>
								</li>
								<li class="vinilo-atributo">
									<span><i class="vinilo-icon fa-solid fa-star"></i><strong>4.8</strong> rating (441)</span>
								</li>
							</ul>
						</div>
					</div>

					<div class="lista__vinilos">
						<h3 class="heading-tertiary">Tenemos géneros variados como:</h3>
						<ul class="lista_v">
							<li class="lista">
								<span><i class="vinilo-icon fa-regular fa-circle-check"></i>Pop</span>
							</li>
							<li class="lista">
								<span><i class="vinilo-icon fa-regular fa-circle-check"></i>Rap</span>
							</li>
							<li class="lista">
								<span><i class="vinilo-icon fa-regular fa-circle-check"></i>R&B</span>
							</li>
							<li class="lista">
								<span><i class="vinilo-icon fa-regular fa-circle-check"></i>Hip-Hop</span>
							</li>
							<li class="lista">
								<span><i class="vinilo-icon fa-regular fa-circle-check"></i>Metal</span>
							</li>
							<li class="lista">
								<span><i class="vinilo-icon fa-regular fa-circle-check"></i>Jazz</span>
							</li>
							<li class="lista">
								<span><i class="vinilo-icon fa-regular fa-circle-check"></i>Rock</span>
							</li>
							<li class="lista">
								<span><i class="vinilo-icon fa-regular fa-circle-check"></i>Boleros</span>
							</li>
							<li class="lista">
								<span><i class="vinilo-icon fa-regular fa-circle-check"></i>Norteñas</span>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<div class="boton contenedor__vinilo todos__vinilos">
				<a href="#" class="btn">Ver todos los vinilos &rarr;</a>
			</div>
			<h1 class="titulo__galeria">Galería</h1>
			<section class="gallery">
				<div class="gallery__column">
					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="https://images.pexels.com/photos/45243/saxophone-music-gold-gloss-45243.jpeg" alt="Saxofón" class="gallery__image" />
							<figcaption class="gallery__caption">Saxofón Barítono Jupiter JBS1000</figcaption>
						</figure>
					</a>

					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="https://i.ebayimg.com/thumbs/images/g/DfgAAOSwztxkdLTY/s-l640.jpg" alt="Protection - Alcest" class="gallery__image" />
							<figcaption class="gallery__caption">Protection - Alcest</figcaption>
						</figure>
					</a>

					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="	https://i.pinimg.com/564x/08/a9/ac/08a9ac22a4f252aaad6f343315b05a7c.jpg" alt="Violín Forenza F1151A" class="gallery__image" />
							<figcaption class="gallery__caption">Violín Forenza F1151A</figcaption>
						</figure>
					</a>
				</div>

				<div class="gallery__column">
					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="https://i.pinimg.com/564x/18/d5/81/18d58107a79c63fc35f8330613f90d15.jpg" alt="Batería Pearl Export EXX" class="gallery__image" />
							<figcaption class="gallery__caption">Batería Pearl Export EXX</figcaption>
						</figure>
					</a>

					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="https://m.media-amazon.com/images/I/71fFGfX-vsL._UF1000,1000_QL80_.jpg" alt="Forever Neverland" class="gallery__image" />
							<figcaption class="gallery__caption">Forever Neverland - MØ</figcaption>
						</figure>
					</a>

					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="https://i.pinimg.com/564x/49/6e/32/496e324b84c9dd039f374f1f4874e386.jpg" alt="Micrófono Sennheiser MD421" class="gallery__image" />
							<figcaption class="gallery__caption">Micrófono Sennheiser MD421</figcaption>
						</figure>
					</a>
				</div>

				<div class="gallery__column">
					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="	https://cdn.pixabay.com/photo/2017/10/08/17/22/cello-2830670_960_720.jpg" alt="Violonchelo NS Design Cello" class="gallery__image" />
							<figcaption class="gallery__caption">Violonchelo NS Design Cello</figcaption>
						</figure>
					</a>

					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="https://www.banquetrecords.com/item.png?TSGLOWON" alt="GLOW ON" class="gallery__image" />
							<figcaption class="gallery__caption">GLOW ON - Turnstile</figcaption>
						</figure>
					</a>

					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="https://i.pinimg.com/564x/e3/ef/bd/e3efbd998754fd9166159214806af827.jpg" alt="Roland F-140R" class="gallery__image" />
							<figcaption class="gallery__caption">Roland F-140R</figcaption>
						</figure>
					</a>
				</div>

				<div class="gallery__column">
					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="https://i.pinimg.com/564x/1d/ea/e7/1deae7c638a68ebc01a1c44483eabfd1.jpg" alt="AM" class="gallery__image" />
							<figcaption class="gallery__caption">AM - Arctic Monkeys</figcaption>
						</figure>
					</a>

					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="https://i.pinimg.com/564x/a4/5c/0d/a45c0d4df8b0a34a06140bf2a95788e2.jpg" alt="Guitarra Gibson J45 Standard Vintage Sunburst" class="gallery__image" />
							<figcaption class="gallery__caption">Guitarra Gibson J45 Standard Vintage Sunburst</figcaption>
						</figure>
					</a>

					<a href="productDetail" class="gallery__link">
						<figure class="gallery__thumb">
							<img src="https://i.pinimg.com/564x/ce/5b/23/ce5b23497b5f04aa3edef99d46c5e014.jpg" alt="Bajo Clasic Vibe 60s" class="gallery__image" />
							<figcaption class="gallery__caption">Bajo Clasic Vibe 60s</figcaption>
						</figure>
					</a>
				</div>
			</section>
			<section class="sociales">
				<h1 class="titulo">¡Siguenos en nuestras redes sociales!</h1>
				<div class="wrapper">
					<div class="button">
						<div class="icon">
							<i class="fab fa-facebook-f"></i>
						</div>
						<span>Facebook</span>
					</div>
					<div class="button">
						<div class="icon">
							<i class="fa-brands fa-soundcloud"></i>
						</div>
						<span>SoundCloud</span>
					</div>
					<div class="button">
						<div class="icon">
							<i class="fab fa-instagram"></i>
						</div>
						<span>Instagram</span>
					</div>
					<div class="button">
						<div class="icon">
							<i class="fa-brands fa-x-twitter"></i>
						</div>
						<span>Twitter</span>
					</div>
					<div class="button">
						<div class="icon">
							<i class="fab fa-youtube"></i>
						</div>
						<span>YouTube</span>
					</div>
				</div>
			</section>
		</main>
		<%- include ("partials/Footer.ejs") %>
	</body>
</html>
