<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleLogIn.css">
    <title>Log In</title>
</head>
<body>

    <%- include ("partials/Header.ejs") %>

        <div class="container-form">
            <div>
                <h1 class="titulo">Inicio de Sesión</h1>
            </div>
            <div class="container-form">
                <form action="login" method="POST" class="form">
                    <div class="form-section">
                        <label >
                            <input type="text" class="form-input" placeholder="Nombre de usuario" required>
                        </label>
                    </div>
                <div class="form-section">
                        <label>
                            <input type="password" class="form-input" placeholder="Contraseña" required>
                        </label>
                    </div>
                    <div class="form-section"> <a href="#"><p>¿Olvidó su contraseña?</a></p>
                    </div>
                    <div class="form-section">
                        <input type="submit" class="form-input-button"  value="iniciar">
                    </div>
                    <div class="form-section">
                        <p>¡Quiero <a href="registro">registrarme!</a></p>
                    </div>
                    <div>Volver</div>
                </form>
            </div>
        </div>
</body>

<%- include ("partials/Footer.ejs") %>

</html>