<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Nosotros</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="css/styleNosotros.css" />
	</head>
	<body>
		<%- include ("partials/Header.ejs") %>
		<main class="contenedor">
			<h1>Nosotros</h1>

			<div class="nosotros">
				<div class="nosotros__contenido">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex expedita odit praesentium asperiores repudiandae officia perspiciatis optio tempore obcaecati magnam inventore non, pariatur, natus doloremque nostrum dolorum voluptates soluta. Quo? Repellat accusamus hic vero assumenda
						veritatis esse quos fuga nesciunt quis enim aspernatur, error dicta eaque provident nam ab? Exercitationem incidunt, asperiores expedita minima aliquam at adipisci dolorum voluptatibus suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet vel necessitatibus
						voluptatibus quasi officiis. Maiores exercitationem voluptatem ipsam, ipsum saepe fugiat expedita asperiores optio accusantium possimus. Rerum quae iusto error!
					</p>
				</div>
				<img src="/img/nosotros/nosotros.jpg" alt="Nosotros imagen" class="nosotros__imagen" />
			</div>
		</main>

		<section class="contenedor comprar">
			<h2 class="comprar__titulo">¿Por qué comprar con nosotros?</h2>

			<div class="bloques">
				<div class="bloque">
					<img class="bloque__img" src="/img/nosotros/icono_1.png" alt="por que comprar" />
					<h3 class="bloque__titulo">El Mejor Precio</h3>
					<p>Eveniet vel necessitatibus voluptatibus quasi officiis. Maiores exercitationem voluptatem ipsam, ipsum saepe fugiat expedita asperiores optio accusantium possimus. Rerum quae iusto error!</p>
				</div>
				<div class="bloque">
					<img class="bloque__img" src="/img/nosotros/icono_2.png" alt="para devs" />
					<h3 class="bloque__titulo">Para Desarrolladores</h3>
					<p>Eveniet vel necessitatibus voluptatibus quasi officiis. Maiores exercitationem voluptatem ipsam, ipsum saepe fugiat expedita asperiores optio accusantium possimus. Rerum quae iusto error!</p>
				</div>
				<div class="bloque">
					<img class="bloque__img" src="/img/nosotros/icono_3.png" alt="envio gratis" />
					<h3 class="bloque__titulo">Envio Gratis</h3>
					<p>Eveniet vel necessitatibus voluptatibus quasi officiis. Maiores exercitationem voluptatem ipsam, ipsum saepe fugiat expedita asperiores optio accusantium possimus. Rerum quae iusto error!</p>
				</div>
				<div class="bloque">
					<img class="bloque__img" src="/img/nosotros/icono_4.png" alt="mejor calidad" />
					<h3 class="bloque__titulo">La mejor calidad</h3>
					<p>Eveniet vel necessitatibus voluptatibus quasi officiis. Maiores exercitationem voluptatem ipsam, ipsum saepe fugiat expedita asperiores optio accusantium possimus. Rerum quae iusto error!</p>
				</div>
			</div>
		</section>
		<%- include ("partials/Footer.ejs") %>
	</body>
</html>
