<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article class="container-form">
        <form action="productEditCreate" method="get">
            <div class="container-input">
                <label>
                    
                </label>
            </div>
            <div class="container-input">
                <label>
                    <input type="text" class="form-input" placeholder="Nombre del producto">
                </label>
            </div>
            <div class="container-input">
                <label>
                    <input type="text" class="form-input" placeholder="Descripción">
                </label>
            </div>
            <div class="container-input">
                <label>
                    <input type="text" class="form-input" placeholder="">
                </label>
            </div>
            <div class="container-input">
                <label>
                    <input type="text" class="form-input" placeholder="Categoria">
                </label>
            </div>
            <div class="container-input">
                <label>
                    <input type="text" class="form-input" placeholder="Marca">
                </label>
            </div>
            <div class="container-input">
                <label>
                    <input type="text" class="form-input" placeholder="Precio">
                </label>
            </div>
        </form>
    </article>
</body>
</html>