<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Detalle de producto</title>
		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="/css/styleProductDetail.css" />
	</head>

	<body>
		<%- include ("partials/Header.ejs") %>

		<div class="contenedor_general">
			<div class="contenedor_imagen">
				<img class="imagen_producto" src="/img/home/saxophone.png" alt="" />
			</div>
			<div class="contenedor_detalle_producto">
				<h1 class="nombre_grande_producto">Nombre de producto Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
				<h2 class="precio_producto">$0.00</h2>
				<br />
				<div class="cantidad">
					<button>-</button>
					<label for=""></label>
					<input type="text" />
					<button>+</button>
				</div>
				<br />
				<div class="botones">
					<button class="anadir">AÑADIR AL CARRITO</button>
					<br />
					<br />
					<button class="seguir">SEGUIR COMPRANDO</button>
					<br />
					<br />
					<button class="seguir"><a class="seguir" href="productEditCreate">EDITAR PRODUCTO</a></button>
				</div>
				<br />
				<br />
				<h2 class="nombre_pequeño_producto">Nombre de producto</h2>
				<br />
				<p>Descripción: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi alias iste in corrupti! Dolore facilis velit ullam reiciendis ipsa, odit vitae voluptates ad corporis commodi ducimus quia accusamus quaerat mollitia.</p>
				<br />
				<div class="tabla">
					<table class="ficha_tecnica">
						<caption>
							Ficha Técnica
						</caption>
						<tr>
							<td>Fila 1</td>
							<td>Fila 1</td>
						</tr>
						<tr>
							<td>Fila 2</td>
							<td>Fila 2</td>
						</tr>
						<tr>
							<td>Fila 3</td>
							<td>Fila 3</td>
						</tr>
						<tr>
							<td>Fila 4</td>
							<td>Fila 4</td>
						</tr>
						<tr>
							<td>Fila 5</td>
							<td>Fila 5</td>
						</tr>
						<tr>
							<td>Fila 6</td>
							<td>Fila 6</td>
						</tr>
						<tr>
							<td>Fila 7</td>
							<td>Fila 7</td>
						</tr>
						<tr>
							<td>Fila 8</td>
							<td>Fila 8</td>
						</tr>
						<tr>
							<td>Fila 9</td>
							<td>Fila 9</td>
						</tr>
						<tr>
							<td>Fila 10</td>
							<td>Fila 10</td>
						</tr>
						<tr>
							<td>Fila 11</td>
							<td>Fila 11</td>
						</tr>
						<tr>
							<td>Fila 12</td>
							<td>Fila 12</td>
						</tr>
						<tr>
							<td>Fila 13</td>
							<td>Fila 13</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>

	<%- include ("partials/Footer.ejs") %>
</html>
