<link rel="stylesheet" href="/css/styleHome.css" />

<footer class="footer">
    <div class="contenedor__footer">
        <div class="row">
            <div class="footer-col">
                <h4>empresa</h4>
                <ul>
                    <li><a href="nosotros">nosotros</a></li>
                    <li><a href="#">servicios</a></li>
                    <li><a href="#">política de privacidad </a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>ayuda</h4>
                <ul>
                    <li><a href="#">preguntas frecuentes</a></li>
                    <li><a href="#">envios</a></li>
                    <li><a href="#">devoluciones</a></li>
                    <li><a href="#">estatus de la orden</a></li>
                    <li><a href="#">opciones de pago</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>tienda en línea</h4>
                <ul>
                    <li><a href="#">guitarras</a></li>
                    <li><a href="#">baterías</a></li>
                    <li><a href="#">vinilos</a></li>
                    <li><a href="#">amplificadores</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Recursos</h4>
                <ul>
                    <li><a href="#">categorías</a></li>
                    <li><a href="#">crea una cuenta</a></li>
                    <li><a href="#">inicia sesión</a></li>
                    <li><a href="#">415-301-6370</a></li>
                    <li><a href="#">ayuda@latininstruments.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
