<link rel="stylesheet" href="/css/styleHome.css" />


<header class="header">
    <nav>
        <div class="navegacion">
            <div class="logo">
                <a href="/"> LATIN INSTRUMENTS</a>
            </div>
            <input type="radio" name="slider" id="menu-btn" />
            <input type="radio" name="slider" id="btn--cerrar" />
            <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
            <ul class="navegacion__links">
                <label for="btn--cerrar" class="btn btn--cerrar"><i class="fas fa-times"></i></label>
                <li><a href="/">Inicio</a></li>
                <li><a href="nosotros">Nosotros</a></li>
                <li>
                    <a href="#" class="desktop-item">Últimos vinilos</a>
                    <input type="checkbox" id="desplegable" />
                    <label for="desplegable" class="movil">Últimos vinilos</label>
                    <ul class="desplegable">
                        <li><a href="productDetail">Circles - Mac Miller</a></li>
                        <li><a href="productDetail">Evermore - Taylor Swift</a></li>
                        <li><a href="productDetail">Shelter - Alcest</a></li>
                        <li><a href="productDetail">Hungry Ghost - Violent Soho</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="desktop-item">Categorías</a>
                    <input type="checkbox" id="mostrarCategorias" />
                    <label for="mostrarCategorias" class="movil">Categorías</label>
                    <div class="categorias">
                        <div class="categorias__contenido">
                            <div class="categoria">
                                <img src="https://images.unsplash.com/photo-1510915361894-db8b60106cb1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG11c2ljfGVufDB8fDB8fHww" alt="" />
                            </div>
                            <div class="categoria">
                                <header>Instrumentos</header>
                                <ul class="subcategorias">
                                    <li><a href="#">Cuerdas</a></li>
                                    <li><a href="#">Viento</a></li>
                                    <li><a href="#">Percusiones</a></li>
                                    <li><a href="#">Ver todo</a></li>
                                </ul>
                            </div>
                            <div class="categoria">
                                <header>Accesorios</header>
                                <ul class="subcategorias">
                                    <li><a href="#">Individuales</a></li>
                                    <li><a href="#">Amplificadores</a></li>
                                    <li><a href="#">Cables</a></li>
                                    <li><a href="#">Ver todo</a></li>
                                </ul>
                            </div>
                            <div class="categoria">
                                <header>Vinilos</header>
                                <ul class="subcategorias">
                                    <li><a href="#">Rock</a></li>
                                    <li><a href="#">Pop</a></li>
                                    <li><a href="#">Rap / Hip hop</a></li>
                                    <li><a href="#">Ver todo</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="login">Iniciar sesión</a></li>
                <li><a href="carrito">Carrito</a></li>
                <li><a href="registro">Registrarse</a></li>
            </ul>
        </div>
    </nav>
</header>